:root{
    --color-primary: #2584ff ;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headings:#1b0760;
    --color-body: #918ca4;
    --color-border: #ccc;
    --border--radius: 30px;
}

*, *::after, *::before{
    box-sizing: border-box;
}
.box{
    background-color: var(--color-primary);
    width: 100px;
    height: 100px;
}

/* Typography */
html{
    font-size: 62.5%;

}

body{
    font-family: Inter;
    color: var(--color-body);
    font-size: 2.4rem;
    line-height: 1.5;
}

h1, h2, h3{
    color: var(--color-headings);
}

h1{
    font-size: 7rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
    margin-bottom: 20px;
}
p{
    margin-top: 0;
}

@media screen and (min-width:1024px) {
    body{
        font-size: 1.8rem;
    }
    h1{
        font-size: 8rem;
    }
    h2{
        font-size: 4rem;
    }
    h3{
        font-size: 2.4rem;
        margin-bottom: 10px;
}
}

/* Links */
a{
    text-decoration: none;
}

.link-arrow{
    color: var(--color-accent);
    text-decoration: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.link-arrow::after{
    content: "-->";
    margin-left: 5px;
    transition: margin 0.15s;
}
.link-arrow:hover::after{
    margin-left: 10px;
}
@media screen and (min-width:1024px) {
    .link-arrow{
        font-size: 1.5rem;
    }
}

/* Badges */
.bardge{
    border-radius: 20px;
    padding: 0.5rem 2rem;
    font-weight: 600;
    white-space: nowrap;
    font-size: 2rem;
}
.bardge--primary{
    background: var(--color-primary);
    color: #fff;
}
.bardge--secondary{
    background: var(--color-secondary);
    color: #fff;
}
.bardge--small{
    font-size: 1.6rem;
    padding: 0.5rem 1.5rem;
}
@media screen and (min-width:1024px){
    .bardge{
        font-size: 1.5rem;
    }
    .bardge--small{
        font-size: 1.2rem;
    }
}

/* Lists */
.list{
    list-style: none;
    padding-left: 0;
    color: var(--color-headings);
}

.list--inline .list__item{
    display: inline;
    margin-right: 5.7rem;

}

.list-tick{
    list-style-image: url(../images/tick.svg);
    padding-left: 3rem;
}

.list-tick .list__item{
    padding-left: 1rem;
    margin-bottom: 4rem;
}

@media screen and (min-width:1024px){
    .list-tick .list__item{
        padding-left: 0;
    }
}

/* Icons */
.icon{
    width: 40px;
    height: 40px;
}

.icon--primary{
    fill: var(--color-primary);
}

.icon-container{
    background: #f3f9fa;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.icon-container-accent{
    background: var(--color-accent);
}

.icon--small{
    width: 30px;
    height: 30px;
}

/* Buttons */
.btn{
    font-size: 1.8rem;
    font-weight: 600px;
    padding: 2rem 3rem;
    text-transform: uppercase;
    border: none;
    border-radius: 40px;
    text-align: center;
}
.btn--primary{
    background: var(--color-primary);
    color:#fff;
}
.btn--secondary{
    background: var(--color-secondary);
    color: #fff;
}
.btn--accent{
    background: var(--color-accent);
    color: #fff;
}
.btn--accent:hover{
   filter: brightness(200%);
}
.btn--outline{
    background: #fff;
    color: var(--color-headings);
    border: 2px solid var(--color-headings);
}
.btn--outline:hover{
    background: var(--color-headings);
    color: #fff;
}
.btn--block{
    width: 100%;
    display: inline-block;
}
@media screen and (min-width:1024px){
    .btn{
        font-size: 1.5rem;
    }
}

/* Inputs */
.input{
    padding: 1.5rem 3.5rem;
    border: 1px solid var(--color-border);
    border-radius: var(--border--radius);
    outline: 0;
    color: var(--color-headings);
    font-size: 2rem;
}
::placeholder{
    color: #c5c0d7;
}
.input-group{
    border: 1px solid var(--color-border);
    border-radius: var(--border--radius);
    display: flex;
}

.input-group input{
    border: 0;
    flex-grow: 1;
    padding-left: 1rem;
}
.input-group .btn{
    margin: 5px;
}

::placeholder{
    color: #c5c0d7;
}
@media screen and (min-width:1024px){
    .input{
        font-size: 1.5rem;
    }
    }
  
/*  Card    */
.card{
    border-radius: 7px;
    box-shadow: 0 0 20px 10px #f3f3f3;
    margin: 5px;
    overflow: hidden;
}
.card_header, .card_body{
    padding: 2rem 3rem;
}
.card--primary.card_header{
    background: var(--color-primary);
    color: #fff;
}
.card--secondary.card_header{
    background: var(--color-secondary);
    color: #fff;
}
.card--secondary .bardge--small{
    background: #02cdf1;
}

.card-container{
    width: 50%;
}

/* Plan */
.plan_name{
    color: #fff;
    margin: 0;
    font-weight: 500;
    font-size: 2.4rem;
}
.plan_price{
    font-size: 6rem;
}
.plan_billing-cycling{
    font-size: 2.4rem;
    font-weight: 300;
    opacity: 0.8;
    margin: 1rem;
}
.plan_description{
    font-weight: 300;
    font-size: 2rem;
    display: block;
    letter-spacing: 1px;
}
.plan .list__item{
    margin-bottom: 2rem;
}

@media screen and (min-width:1024px){
    .plan_name{
        font-size: 1.4rem;
    }
    .plan_price{
        font-size: 5rem;
    }
    .plan_billing-cycling{
        font-size: 1.6rem;
    }
    .plan_description{
        font-size: 1.7rem;
    }
}

.plan--popular .card_header{
position: relative;
}

.plan--popular .card_header::before{
    content: url(../images/star.svg);
     width: 40px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 5%;
    }


@media screen and (min-width:1024px){
    .card-container{
        width: 20%;
    }
}

/* Media */
.media{
    display: flex;
}
.media_title{
    margin-top: 0;
}
.media_body{
    padding: 0 2rem;
}
.media_image{
    margin-top: 1rem;
}

/* Quoets */
.quote{
    font-size: 3rem;
    font-style: italic;
    color: #5c5577;
}
.quote_text::before{
    content: open-quote;
}
.quote_text::after{
    content: close-quote;
}
.quote_author{
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 0;
}
.quote_company{
    font-size: 2rem;
    font-style: normal;
    opacity: .4;
    color: var(--color-headings);
}
.quote_line{
    position: relative;
    bottom: 10px;
}

@media screen and (min-width:1024px){
.quote{
    font-size: 2rem;
}
.quote_author{
    font-size: 2.4rem;
}
.quote_company{
    font-size: 1.6rem;
}
}

/* Grid */
.grid{
    display: grid;
}

@media screen and (min-width:1024px){
    .grid--col-2{
    grid-template-columns: repeat(3, 1fr);
    }
    }

/* Testimonial */
.testimonial{
    padding: 3rem;
}

.testimonial_image{
    position: relative;
}

.testimonial_image > img{
    width: 100%;
}

.testimonial_image > .icon-container{
 position: absolute;
 top: 3rem;
 right: -32px;
}

@media screen and (min-width:768px){
.testimonial .quote,
.testimonial .quote_author{
    font-size: 1.8rem;
}
.testimonial .quote{
    margin-left: 6rem;
}
}
@media screen and (min-width:1024px){
    .testimonial .quote,
    .testimonial .quote_author{
        font-size: 2rem;
    }
    .testimonial .quote{
        margin-left: 6rem;
    }
    }
    
