:root{
    --color-primary: #2584ff ;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headings:#1b0760;
    --color-body: #918ca4;
    --color-border: #ccc;
    --color--white: #fff;
    --border--radius: 30px;
}

*, *::after, *::before{
    box-sizing: border-box;
}
.box{
    background-color: var(--color-primary);
    width: 100px;
    height: 100px;
}

/* Typography */
html{
    font-size: 62.5%;

}

body{
    font-family: Inter;
    color: var(--color-body);
    font-size: 2.4rem;
    line-height: 1.5;
}

h1, h2, h3{
    color: var(--color-headings);
    line-height: 1.1;
}

h1{
    font-size: 7rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
    margin-bottom: 20px;
}
p{
    margin-top: 0;
}

@media screen and (min-width:1024px) {
    body{
        font-size: 1.8rem;
    }
    h1{
        font-size: 8rem;
    }
    h2{
        font-size: 4rem;
    }
    h3{
        font-size: 2.4rem;
        margin-bottom: 10px;
}
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

/* Links */
a{
    text-decoration: none;
}

.link-arrow{
    color: var(--color-accent);
    text-decoration: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.link-arrow::after{
    content: "-->";
    margin-left: 5px;
    transition: margin 0.15s;
}
.link-arrow:hover::after{
    margin-left: 10px;
}
@media screen and (min-width:1024px) {
    .link-arrow{
        font-size: 1.5rem;
    }
}

/* Badges */
.bardge{
    border-radius: 20px;
    padding: 0.5rem 2rem;
    font-weight: 600;
    white-space: nowrap;
    font-size: 2rem;
}
.bardge--primary{
    background: var(--color-primary);
    color: #fff;
}
.bardge--secondary{
    background: var(--color-secondary);
    color: #fff;
}
.bardge--small{
    font-size: 1.6rem;
    padding: 0.5rem 1.5rem;
}
@media screen and (min-width:1024px){
    .bardge{
        font-size: 1.5rem;
    }
    .bardge--small{
        font-size: 1.2rem;
    }
}

/* Lists */
.list{
    list-style: none;
    padding-left: 0;
    
}

.list--inline .list__item{
    display: inline;
    margin-right: 5.7rem;

}

.list-tick{
    list-style-image: url(../images/tick.svg);
    padding-left: 3rem;
    color: var(--color-headings);
}

.list-tick .list__item{
    padding-left: 1rem;
    margin-bottom: 4rem;
}

@media screen and (min-width:1024px){
    .list-tick .list__item{
        padding-left: 0;
    }
}

/* Icons */
.icon{
    width: 40px;
    height: 40px;
}

.icon--primary{
    fill: var(--color-primary);
}
.icon--white{
    fill: var(--color--white);
}

.icon-container{
    background: #f3f9fa;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.icon-container-accent{
    background: var(--color-accent);
}

.icon--small{
    width: 30px;
    height: 30px;
}

/* Buttons */
.btn{
    font-size: 1.8rem;
   /*  font-weight: 600px; */
    padding: 2rem 3rem;
    text-transform: uppercase;
    border: none;
    border-radius: 40px;
    text-align: center;    
}

.btn .icon{
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    vertical-align: middle;
}
.btn--primary{
    background: var(--color-primary);
    color:#fff;
}
.btn--secondary{
    background: var(--color-secondary);
    color: #fff;
}
.btn--accent{
    background: var(--color-accent);
    color: #fff;
}
.btn--accent:hover{
   filter: brightness(200%);
}
.btn--outline{
    background: #fff;
    color: var(--color-headings);
    border: 2px solid var(--color-headings);
}
.btn--outline:hover{
    background: var(--color-headings);
    color: #fff;
}
.btn--block{
    width: 100%;
    display: inline-block;
}

.btn--stretched{
    padding-left: 6rem;
    padding-right: 6rem;
}

@media screen and (min-width:1024px){
    .btn{
        font-size: 1.5rem;
    }
}

/* Inputs */
.input{
    padding: 1.5rem 3.5rem;
    border: 1px solid var(--color-border);
    border-radius: var(--border--radius);
    outline: 0;
    color: var(--color-headings);
    font-size: 2rem;
}
::placeholder{
    color: #c5c0d7;
}
.input-group{
    border: 1px solid var(--color-border);
    border-radius: var(--border--radius);
    display: flex;
}

.input-group input{
    border: 0;
    flex-grow: 1;
    padding-left: 2rem;
}
.input-group .btn{
    margin: 5px;
}

::placeholder{
    color: #c5c0d7;
}
@media screen and (min-width:1024px){
    .input{
        font-size: 1.5rem;
    }
    }
  
/*  Card    */
.card{
    border-radius: 7px;
    box-shadow: 0 0 20px 10px #f3f3f3;
    margin: 5px;
    overflow: hidden;
}
.card_header, .card_body{
    padding: 2rem 3rem;
}
.card--primary.card_header{
    background: var(--color-primary);
    color: #fff;
}
.card--secondary.card_header{
    background: var(--color-secondary);
    color: #fff;
}
.card--secondary .bardge--small{
    background: #02cdf1;
    }
 .card--primary .bardge--primary{
    background: #126de4;
 }   

.card-container{
    width: 50%;
}

/* Plan */
.plan_name{
    color: #fff;
    margin: 0;
    font-weight: 500;
    font-size: 2.4rem;
}
.plan_price{
    font-size: 6rem;
}
.plan_billing-cycling{
    font-size: 2.4rem;
    font-weight: 300;
    opacity: 0.8;
    margin: 1rem;
}
.plan_description{
    font-weight: 300;
    font-size: 2rem;
    display: block;
    letter-spacing: 1px;
}
.plan .list__item{
    margin-bottom: 2rem;
}

.plan{
    transition: transform .2s ease-out;
}

.plan--popular{
    transform: scale(1.1);
}

.plan--popular .card_header{
position: relative;
}

.plan--popular .card_header::before{
    content: url(../images/star.svg);
     width: 40px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 5%;
    }

.plan:hover{
    transform: scale(1.05);
}

.plan--popular:hover{
    transform: scale(1.15);
}

    @media screen and (min-width:1024px){
        .plan_name{
            font-size: 1.4rem;
        }
        .plan_price{
            font-size: 5rem;
        }
        .plan_billing-cycling{
            font-size: 1.6rem;
        }
        .plan_description{
            font-size: 1.7rem;
        }
    }
    
@media screen and (min-width:1024px){
    .card-container{
        width: 20%;
    }
}

/* Media */
.media{
    display: flex;
}
.media_title{
    margin-top: 0;
}
.media_body{
    padding: 0 2rem;
}
.media_image{
    margin-top: 1rem;
}

/* Quoets */
.quote{
    font-size: 3rem;
    font-style: italic;
    color: #5c5577;
}
.quote_text::before{
    content: open-quote;
}
.quote_text::after{
    content: close-quote;
}
.quote_author{
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 0;
}
.quote_company{
    font-size: 2rem;
    font-style: normal;
    opacity: .4;
    color: var(--color-headings);
}
.quote_line{
    position: relative;
    bottom: 10px;
}

@media screen and (min-width:1024px){
.quote{
    font-size: 2rem;
}
.quote_author{
    font-size: 2.4rem;
}
.quote_company{
    font-size: 1.6rem;
}
}

/* Grid */
.grid{
    display: grid;
}

@media screen and (min-width:1024px){
    .grid--col-2{
    grid-template-columns: repeat(2, 1fr);
    }
    }

@media screen and (min-width:1024px){
        .grid--col-3{
        grid-template-columns: repeat(3, 1fr);
        }
        }

/* Testimonial */
.testimonial{
    padding: 3rem;
}

.testimonial_image{
    position: relative;
}

.testimonial_image > img{
    width: 100%;
}

.testimonial_image > .icon-container{
 position: absolute;
 top: 3rem;
 right: -32px;
}

@media screen and (min-width:768px){
.testimonial .quote,
.testimonial .quote_author{
    font-size: 1.8rem;
}
.testimonial .quote{
    margin-left: 6rem;
}
}
@media screen and (min-width:1024px){
    .testimonial .quote,
    .testimonial .quote_author{
        font-size: 2.4rem;
    }
    .testimonial .quote{
        margin-left: 6rem;
    }
    }
    
/* Callaut */

.callout{
    padding: 4rem;
    border-radius: 20px;
}

.callout--primary{
    background: var(--color-primary);
    color: #fff;
}

.callout_heading{
    color: #fff;
    font-size: 3rem;
}

.callout .btn{
    justify-content: center;
    align-self: center;
}

.callout_content{
    text-align: center;
}

@media screen and (min-width:1024px){
    .callout_content{
        text-align: left;
    }
    .callout .btn{
        justify-self: start;
        margin: 0 3rem;
    }

    .callout .grid--col-2{
        grid-template-columns: 1fr auto;
    }
    }
   
/* Collapsible */
.collapsible_header{
    display: flex;
    justify-content: space-between;
}
.collapsible_heading{
    margin-top: 0;
    font-size: 3rem;
}

.collapsible_chevron{
    transform: rotate(-90deg);
}
.collapsible_content{
    display: none;
}
.collapsible--expanded .collapsible_chevron{
    transform: rotate(0);
}

.collapsible--expanded .collapsible_content{
    display: block;
}


/* Blocks */
.block{
    --padding-vartical:6rem;
    padding: var(--padding-vartical) 2rem;
    text-align: center;
}

.block_heading{
    margin-top: 0;
}

.block_header{
    text-align: center;
}

.block--dark{
    background: #000;
    color: #7b858b;
}

.block--dark .block_heading{
    color: #fff;
}

.block--skewed-left{
    padding-bottom: calc(var(--padding-vartical) + 4rem);
    clip-path: polygon(0% 0% 100% 0% 100% 100% 0% 80%);
}
.block--skewed-right{
    padding-bottom: calc(var(--padding-vartical) + 4rem);
    clip-path: polygon(0% 0% 100% 0% 100% 80% 0% 100%);
}




/* Navigation Bars */
.nav{
    background: #000;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
    align-items: center;
}

.nav_list{
    width: 100%;
    margin: 0;
}

.nav_item{
border: 1px solid #222;
padding: 0.5rem 2rem;
}

.nav_item > a{
    color: #d2d0db;
    transition: color .3s;
}

.nav_item > a:hover{
    color: #fff;
}

.nav_toggler{
    opacity: .5;
    transition: box-shadow .15s;
    cursor: pointer;
}

.collapsible--expanded .nav_toggler{
    opacity: 1;
    box-shadow: 0 0 0 3px #555;
    border-radius: 5px;
}

.nav_brand{
    transform: translateY(5px);
}

@media screen and (min-width:768px){
    .nav_toggler{
        display: none;
    }
    .nav_list{
        width: auto;
        display: flex;
        font-size: 1.6rem;
    }
    .nav_item{
        border: 0;
    }
}

/* Hero */
.hero{
    clip-path: polygon(0% 0% 100% 0% 100% 95% 0% 100%);
}
.hero_tagline{
    font-size: 2rem;
    color: #b9c3cf;
    letter-spacing: 1px;
    margin: 2rem;
}

.hero_image{
    width: 100%;
}

@media screen and (min-width:768px){
   .hero{padding-top: 0;
       }
       .hero_content{
        text-align: left;
        align-self: center;
       }
}

.block-domain .input-group{
    box-shadow: 0 0 30px 20px #e6ebee; 
}


/* Domains */
.block-domain_prices{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(2, 6rem);
   font-size: 2rem;
   font-weight: 600;
   justify-items: center;
   max-width: 700px;
   margin: 0 auto;   
}
@media screen and (min-width:768px){
    .block-domain_prices{
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
 }
/* 
 Plans Block */
.block-plan{
    margin-bottom: 200px;
}

 .block-plan .grid{
    gap: 8rem 4rem;
 }

 .block-plan .card{
    max-width: 500px;
 }

/*  Feature */
.feature{
    gap:4rem;
    margin: 12rem 0;
}

.feature_image{
    width: 100%;
}

.feature_heading{
    margin: 1rem 0;
}

@media screen and (min-width:768px){
    .feature:nth-of-type(even) .feature_content{
        order: 2;
    }
}

/* Showcase Block */
.block-showcase_grid{
    gap:4rem
}

.block-showcase_image{
    width: 100%;
}

.block--skewed-right.block-showcase{
   clip-path: polygon(0% 0% 100% 0% 100% 95% 0% 100%);
}

