<div class="media">
    <div class="media_image">
    <svg class="icon icon--primary">
        <use xlink:href="/images/sprite.svg#snap"></use>
        </svg>
    </div>
 
    <div class="media_body">
    <h3 class="media_title">Easy start to manage update</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem quibusdam commodi placeat possimus ipsum, aut dolorem rerum odio eos impedit modi assumenda officiis consequatur blanditiis magni ullam officia nulla a.</p>
    </div>
</div>